<h4>What is the best story you can write in one line?</h2>
<p>I stared at "online" below her name every day for years, waiting for it to change to "typing...".</p>
<% @cats.each do |cat| %>
  <img src="<%= cat.url %>" alt='Cat pic'>
  <br>
<% end %>
