<h4>What are some of the things you should avoid or try doing in your first 30 years of life?</h4>
<p><strong>Avoid not failing. As in, you SHOULD fail. Fail a lot.</strong></p>
<p>Fail in love
<br>
Fail in work
<br>
Fail in friends
<br>
Fail in family
<br>
Fail in self-awareness
<br>
Fail in self-esteem
<br>
</p>
<p>You won’t have to try, these failures will happen naturally.  Let them happen, do not live in fear of them.

Let them drag you down to the depths of your worst nightmares, to places dark and suffocating and endless. 

Don’t worry, it will not be endless.  You will survive.  Slowly, piece by piece, day by day you will lift yourself up and rebuild into something new, better, different.

Then, with strength in your heart and peace in your mind, say hello to your new self.

And gird your loins for your 30s, because that is when the fun starts.
</p>