$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #efefef;
}
ul{
  display:table;
  margin:0 auto;
}
ul li{
  display: inline-block;
  padding: 20px;
}
.jumbotron{
  text-align: center;
}
